{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="mt-5 gap-2 d-flex flex-column align-items-end">
  {% if category.user == user %}
    <p id="classification-settings" class="fw-bold" data-bs-toggle="collapse" data-bs-target="#classificationButtons">My Classification Settings
      <img id="classification-caret-icon" class="align-self-center ms-2" src="{% static 'bootstrap-icons-1.10.5/caret-down-fill.svg'%}" alt="caret-down-fill" width="10" height="10" />                   
    </p>
    <div class="collapse" id="classificationButtons">
      <ul class="list-unstyled">
        <li class="nav-item rounded gap-3">                
          <a type="button" class="btn btn-sm btn-outline-primary" data-bs-toggle="modal" data-bs-target="#classificationCreateModal">추가</a>
          <a type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#classificationUpdateModal">수정</a>
          <a type="button" class="btn btn-sm btn-outline-danger" id="classificationDeleteBtn">삭제</a>
        </li>
      </ul>
    </div>
  {% endif %}
</div>

<div class="container mt-5">
  <h2>{{ category.name }}</h2>
  <hr>
  <ul class="list-group" id="classificationList">
    {% for classification in category.classification_set.all %}
      <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
        <a class="text-decoration-none" href="{% url 'classification_detail' category.id classification.id %}">{{ classification.name }}</a>
        <button type="button" class="btn btn-danger btn-sm delete-button" style="display: none;" id="deleteButton{{ classification.id }}">삭제</button>        
      </li>
    {% empty %}
      <li class="list-group-item text-muted">현재 목록이 존재하지 않습니다.</li>
    {% endfor %}
  </ul>
</div>

<!-- Modal -->
<!-- Create Classification-->
<div class="modal fade" id="classificationCreateModal" tabindex="-1" aria-labelledby="classificationCreateModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addClassificationModalLabel">목차 추가</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" id="classification-name" name="name" placeholder="목차명">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
        <button type="button" class="btn btn-primary" id="saveClassificationBtn">추가하기</button>
      </div>
    </div>
  </div>
</div>

<!-- Update Classification -->
  <div class="modal fade" id="classificationUpdateModal" tabindex="-1" aria-labelledby="classificationUpdateModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">목차 수정</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="classification_update_form" method="post" action="{% url 'classification_update' category_id=category.id %}">
              {% csrf_token %}
               {% for classification in classifications %}
              <div class="mb-3">
                <!-- forloop.counter0: Django 템플릿 태그에서 사용되는 반복문의 카운터변수 -->
                <input type="hidden" name="classification_id_{{ forloop.counter0 }}" value="{{ classification.id }}">
                <input type="text" class="form-control" id="classificationName" name="classification_name_{{ forloop.counter0 }}" value="{{ classification.name }}" required>
              </div>
              {% endfor %}
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            <button type="submit" class="btn btn-primary" form="classification_update_form">저장</button>
          </div>
        </div>
      </div>
    </div> 
  
<script>
  // 목차 저장
  document.querySelector('#saveClassificationBtn').addEventListener('click', function() {
    const classificationName = document.querySelector('#classification-name').value;
    const data = new URLSearchParams();
    data.append('name', classificationName);
    fetch("{% url 'classification_create' category_id=category.id %}", {
      method: 'POST',
      body: data,
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
        'X-CSRFToken': '{{ csrf_token }}'
      }
    }).then(function(response) {
      if (response.ok) {
        location.reload();
        return;
      } 
      return response.json().then(json => {
        if (json.message === "Maximum number of classifications reached") {
          alert("최대 목차 개수를 초과했습니다.");
        } else if (json.message === "Classification name already exists") {
          alert("이미 존재하는 목차 이름입니다.");
        } else {
          alert(json.message || "목차를 추가하는 도중 오류가 발생했습니다. 다시 시도해 주세요.");
        }
        throw new Error(`HTTP error! status: ${response.status}`);
      });      
    });
  });

  // 목차 수정
  document.querySelector('#classification_update_form').addEventListener('submit', function(e) {
    e.preventDefault();
    
    const formData = new FormData(document.querySelector('#classification_update_form'));

    fetch("{% url 'classification_update' category_id=category.id %}", {
      method: 'POST',
      body: formData,
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      }
    })
    .then(response => {
      if (response.ok) {
        location.reload(); 
      } else {
        return response.json().then(json => { // 실패 시 오류 메시지 출력
          if (json.errors === "Classification name already exists") {
            alert("이미 존재하는 목차 이름입니다.");
          } else {
            alert(json.errors || "목차를 수정하는 도중 오류가 발생했습니다. 다시 시도해 주세요.");
          }
        });
      }
    })
    .catch(error => {
      console.error('Fetch Error:', error);
    });
  });

  // 목차 삭제
  document.getElementById('classificationDeleteBtn').addEventListener('click', function() {
    var classificationList = document.getElementById('classificationList').querySelectorAll('li');
    for (var i = 0; i < classificationList.length; i++) {
      var button = classificationList[i].querySelector('.delete-button');
      if (button) {
        var display = button.style.display;
        button.style.display = display === 'none' ? 'inline' : 'none';
      }
    }
  });

  // 각 삭제 버튼에 대한 이벤트 리스너 등록
  {% for classification in category.classification_set.all %}
  document.getElementById('deleteButton{{ classification.id }}').addEventListener('click', function() {
    deleteClassification({{ classification.id }});
  });
  {% endfor %}

  function deleteClassification(classificationId) {
    var categoryId = {{ category.id }};
    var url = '/category/' + categoryId + '/classification/' + classificationId + '/delete/'; // 삭제 URL

    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded',
        'X-CSRFToken': '{{ csrf_token }}'
      },
    })
    .then(response => response.json())
    .then(data => {
      if (data.status === 'success') {
        document.getElementById('deleteButton' + classificationId).closest('.list-group-item').remove();
      } else {
        // 실패 시 에러 메시지 표시
        alert('삭제 실패: ' + data.error);
      }
    })
    .catch(error => {
      console.error('에러 발생:', error);
      alert('삭제 중 오류가 발생했습니다.');
    });
  }

  // classification 모양 변경
  document.addEventListener('DOMContentLoaded', function() {
    const classificationButtons = document.getElementById('classificationButtons'); 
    const classificationCaretIcon = document.getElementById('classification-caret-icon');

    classificationButtons.addEventListener('show.bs.collapse', function() {
      classificationCaretIcon.src = "{% static 'bootstrap-icons-1.10.5/caret-up-fill.svg' %}";
    });

    classificationButtons.addEventListener('hide.bs.collapse', function() { 
      classificationCaretIcon.src = "{% static 'bootstrap-icons-1.10.5/caret-down-fill.svg' %}";
    });
  });
</script>
{% endblock %}