{% extends "layout.html" %}

{% block content %}
{% load static %}

<div class="d-flex justify-content-end mt-5 gap-2">
  {% if category.user == user %}
  <a href="{% url 'data_create_form' category_id=category_id classification_id=classification_id %}">
    <button type="button" class="btn btn-sm btn-outline-primary">데이터 추가</button>
  </a>
  {% endif %}
</div>

<div class="container mt-5 py-4 px-4">
  <div class="d-flex justify-content-between align-items-center">
    <h2>{{category.name}} > {{classification.name}}</h2>
    <div>
      <a id="sortDataByName">
       <span class="sort-bold">이름순</span>
       <img id="sort-name-caret-icon" class="align-self-center" src="{% static 'bootstrap-icons-1.10.5/caret-up-fill.svg'%}" alt="caret-up-fill" width="10" height="10" />  
      </a>
      |
      <a id="sortDataByFrequency">
        <span>빈도순</span>
        <img id="sort-frequency-caret-icon" class="align-self-center" src="{% static 'bootstrap-icons-1.10.5/caret-up-fill.svg'%}" alt="caret-up-fill" width="10" height="10" /> 
      </a>
    </div>
  </div>
  <hr>
  <ul class="list-group" id="classificationList">
  {% for data in first_page_data %}
    <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
      <a class="text-decoration-none" href="/category/{{category_id}}/classification/{{classification_id}}/data/{{data.id}}/">{{data.name}}</a>
    </li>
  {% endfor %}  
  </ul>
</div>
<script>
  // 데이터 정렬 및 페이지네이션(무한스크롤)
  let isFetching = false; // 현재 데이터를 불러오는 중인지 아닌지를 체크
  
  document.addEventListener('DOMContentLoaded', function() {
      fetchData(1, 'name', 'asc');

      let isNameAsc = true;
      let isFrequencyAsc = true;
      let currentPage = 1; // 현재 페이지
      let isLastPage = false;

      // fw-bold 클래스 추가/삭제 함수
      function toggleBold(elementId) {
        document.querySelectorAll('.sort-bold').forEach(elem => elem.classList.remove('sort-bold'));
        document.querySelector(`#${elementId}`).querySelector('span').classList.add('sort-bold');
      }

      // 데이터를 불러와서 화면을 갱신하는 함수
      function fetchData(page, sortBy, order) {
        isFetching = true;
        // Django 뷰에 요청
        fetch(`/category/{{category_id}}/classification/{{classification_id}}/?page=${page}&sortBy=${sortBy}&order=${order}`, {
          headers: {
              'X-Requested-With': 'XMLHttpRequest'
          }
         })          
        .then(response => response.json())
        .then(data => {
          let listHtml = '';
          data.data_list.forEach(item => {
           listHtml += `<li class="list-group-item list-group-item-action d-flex justify-content-between align-items-center"><a class="text-decoration-none" href="/category/{{category_id}}/classification/{{classification_id}}/data/${item.id}/">${item.name}</a></li>`;
          });
          document.getElementById('classificationList').innerHTML += listHtml;

          isLastPage = data.is_last_page;
          isFetching = false;
        });
      }

      const nameSortBtn = document.querySelector('#sortDataByName');
      const frequencySortBtn = document.querySelector('#sortDataByFrequency');

      let currentSort = 'name';  // 현재 정렬 기준을 저장하는 변수
      let currentOrder = 'asc';  // 현재 정렬 순서를 저장하는 변수

      // 스크롤 이벤트 등록
      window.addEventListener("scroll", function() {
        if (!isLastPage && !isFetching && window.innerHeight + window.scrollY >= document.body.offsetHeight) {
          // 페이지 하단에 도달했을 때
          isFetching = true;
          currentPage++;
          fetchData(currentPage, currentSort, currentOrder);
        }
      });

      // 각 정렬 버튼에 이벤트 리스너 부착
      nameSortBtn.addEventListener('click', function() {
        toggleBold('sortDataByName');
        document.getElementById('classificationList').innerHTML = ''; // 리스트 초기화
        isNameAsc = !isNameAsc; // 상태 토글
        currentSort = 'name';
        currentOrder = isNameAsc ? 'asc' : 'desc';
        currentPage = 1;
        fetchData(currentPage, currentSort, currentOrder);
        
        // 이미지 변경
        let nameCaretIcon = document.querySelector('#sort-name-caret-icon');
        nameCaretIcon.src = isNameAsc ? "{% static 'bootstrap-icons-1.10.5/caret-up-fill.svg' %}" : "{% static 'bootstrap-icons-1.10.5/caret-down-fill.svg' %}";
      });

      frequencySortBtn.addEventListener('click', function() {
        toggleBold('sortDataByFrequency');
        document.getElementById('classificationList').innerHTML = ''; // 리스트 초기화
        isFrequencyAsc = !isFrequencyAsc; // 상태 토글
        currentSort = 'frequency';
        currentOrder = isFrequencyAsc  ? 'asc' : 'desc';
        currentPage = 1;
        fetchData(currentPage, currentSort, currentOrder);        

        // 이미지 변경
        let frequencyCaretIcon = document.querySelector('#sort-frequency-caret-icon');
        frequencyCaretIcon.src = isFrequencyAsc ? "{% static 'bootstrap-icons-1.10.5/caret-up-fill.svg' %}" : "{% static 'bootstrap-icons-1.10.5/caret-down-fill.svg' %}";
      });
  }); 
</script>
{% endblock %}