{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="container m-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form action="{% url 'data_create' category_id=category_id classification_id=classification_id %}" method="post" class="mt-5">
        {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">제목</label>
          <input type="text" class="form-control" id="name" name="name"></input>
          <br>
          <label for="description" class="form-label">내용</label>          
          <textarea type="text" class="form-control" id="description" name="description" rows="30"></textarea>
        </div>
        <div class="text-center"> <!-- 추가 버튼을 가운데로 정렬 -->
          <button type="submit" class="btn btn-primary btn-lg">추가하기</button> <!-- btn-lg 클래스로 크기를 키움 -->
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

