{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="container m-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form id="dataForm" class="mt-5">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="frequency" class="form-label">빈도</label>
                    <div class="input-group">
                        <button type="button" class="btn btn-outline-secondary" id="decreaseFrequency">-</button>
                        <input type="input" class="form-control text-center" id="frequency" name="frequency" value="1" required>
                        <button type="button" class="btn btn-outline-secondary" id="increaseFrequency">+</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="mb-3">
                    <label for="classification" class="form-label">목차</label>
                    <select class="form-select" id="classification" name="classification">
                        {% for classification in classifications %}
                            <option value="{{ classification.id }}" {% if classification.id == data.classification.id %}selected{% endif %}>
                                {{ classification.name }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">제목</label>
          <input type="text" class="form-control" id="name" name="name"></input>
          <br>
          <label for="description" class="form-label">내용</label>          
          <textarea type="text" class="form-control" id="description" name="description" rows="30"></textarea>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-lg">추가하기</button> 
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  function changeFrequency(value) {
    var frequencyInput = document.getElementById('frequency');
    var currentFrequency = parseInt(frequencyInput.value, 10);
    var newFrequency = currentFrequency + value; // 새로운 빈도 계산
    if (newFrequency >= 1 && newFrequency <= 10) {
        frequencyInput.value = newFrequency;
    }        
  }

  document.addEventListener('DOMContentLoaded', function() {
      // 처음 페이지에 로딩될 때의 빈도값을 저장
      var initialFrequency = document.getElementById('frequency').value;

      // 빈도값이 변경되었는지 확인 후 배경색을 변경하는 함수
      function checkFrequency() {
          var currentFrequency = document.getElementById('frequency').value;
          if (currentFrequency === initialFrequency) {  // 처음 값과 현재 값이 같다면 배경 색깔 변경
              document.getElementById('frequency').style.backgroundColor = '#ebeded';
          } else { // 같지 않다면 배경색을 기본값으로 설정
              document.getElementById('frequency').style.backgroundColor = '';
          }
      }

      // 감소 버튼에 클릭 이벤트 리스너 추가
      document.getElementById('decreaseFrequency').addEventListener('click', function() {
          changeFrequency(-1);
          checkFrequency();
      });

      // 증가 버튼에 클릭 이벤트 리스너 추가
      document.getElementById('increaseFrequency').addEventListener('click', function() {
          changeFrequency(1);
          checkFrequency();
      });

      checkFrequency(); // 페이지 로딩시 초기 배경색 설정

      const form = document.getElementById('dataForm');

      form.addEventListener('submit', async function(event) {
          event.preventDefault();

          const formData = new FormData(form);
          const url = "{% url 'data_create' category_id=category_id classification_id=classification_id %}";

          try {
              const response = await fetch(url, {
                  method: 'POST',
                  body: formData,
                  headers: {
                      'X-CSRFToken': '{{ csrf_token }}'
                  }
              });

            const json = await response.json();  // 응답을 JSON으로 파싱

            if (response.status >= 400 && response.status < 500) {
                if (json.errors === "Maximum number of data reached") {
                    alert("최대 데이터 개수를 초과했습니다.");
                } else if(json.errors === "Data name already exists") {
                    alert("이미 존재하는 데이터 이름입니다.");
                } else {
                    alert(json.errors || "데이터를 추가하는 도중 오류가 발생했습니다. 다시 시도해 주세요.");
                }
                return;
            }

            if (json.status === "success") {
                window.location.href = json.redirect_url;  // 리다이렉트 URL로 이동
            }

          } catch (error) {
              console.error("Fetch error:", error);
          }
      });
  });
</script>
{% endblock %}

