{% load static %}
{% load socialaccount %} <!-- socialaccount 태그 라이브러리 로드 -->

<!DOCTYPE html>
<html>
  <head>
    <title>My Study Materials</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link
      rel="stylesheet"
      href="{% static 'bootstrap-5.3.1-dist/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/pygments.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4751026650729929"
     crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg pt-4">
      <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand ps-5" href="/">My Study<br>Materials</a>

        <!-- Search Bar -->
        <form class="row g-3" action="{% url 'search' %}" method="get">
          <div class="col-auto">
            <input
              class="form-control mr-sm-2"
              type="text"
              name="q"
              value="{{ request.GET.q }}"
              placeholder="Search"
              aria-label="Search"
            />
          </div>
          <div class="col-auto">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
              <img
                src="{% static 'bootstrap-icons-1.10.5/search.svg'%}"
                alt="search"
                width="15"
                height="15"
              />
            </button>
          </div>
        </form>

        <!-- Profile -->
        <div class="navbar-nav ml-auto pe-3">
          <div class="nav-item dropdown">
               <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="{% static 'bootstrap-icons-1.10.5/person-circle.svg'%}" alt="person" width="30" height="30" />
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown"> <!-- dropdown 왼쪽 정렬 -->
                {% if user.is_authenticated %}
                  <p class="dropdown-item text-center disabled">{{user.last_name}} {{user.first_name}}님 환영합니다!</p>
                  <p class="dropdown-item text-center disabled">무료회원</p>
                  <a class="dropdown-item text-center disabled" href="{% url 'payment_describe' %}">구독하기</a>
                  <hr>
                  <a class="dropdown-item text-center" href="{% url 'account_logout' %}">로그아웃</a>
                {% else %}
                  <a class="dropdown-item text-center" href="{% url 'account_login' %}">로그인</a>
                {% endif %}
              </div>
          </div>
        </div>
      </div>
    </nav>
    
    <div class="container-fluid">
      <div class="row">
        <!-- Left sidebar -->
        <div class="col-2 sidebar py-5">
          <div class="sidebar-sticky">
            <ul class="nav flex-column gap-3">
              <!-- CRUD -->
              {% if user.is_authenticated %}
              <p id="category-settings" class="fw-bold d-flex justify-content-center" data-bs-toggle="collapse" data-bs-target="#categoryButtons">My Categories Settings
                <img id="category-caret-icon" class="align-self-center ms-2" src="{% static 'bootstrap-icons-1.10.5/caret-down-fill.svg'%}" alt="caret-down-fill" width="10" height="10" />                   
              </p>
              <div class="collapse" id="categoryButtons">
                <li class="nav-item rounded d-flex justify-content-center gap-3">                
                  <a class="btn btn-sm btn-outline-primary" href="#" data-bs-toggle="modal" data-bs-target="#categoryCreateModal">추가</a>
                  <a class="btn btn-sm btn-outline-secondary" href="#" data-bs-toggle="modal" data-bs-target="#categoryUpdateModal">수정</a>
                  <a class="btn btn-sm btn-outline-danger" href="#" id="deleteCategoryBtn">삭제</a>
                </li>
              </div>
              <hr>
              {% endif %}

              <!--User Category -->
              <p class="fw-bold d-flex justify-content-center">My Categories</p>
              {% for category in current_user_categories %}
              <li class="sidebar-category nav-item rounded d-flex justify-content-center">
                  <a class="nav-link" href="{% url 'category_detail' category.id %}">{{ category.name }}</a>
                  <button class="btn btn-sm btn-danger delete-category-button" data-category-id="{{ category.id }}" style="display: none;">삭제</button>
              </li>
              {% endfor %}

              <hr>

              <!-- Admin Category -->
              <p class="fw-bold d-flex justify-content-center">Added Categories</p>
              {% for category in admin_categories %}
              <li class="sidebar-category nav-item rounded d-flex justify-content-center">
                  <a class="nav-link" href="{% url 'category_detail' category.id %}">{{ category.name }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <!-- Content will be inserted here -->
        <div class="col-8">
            {% block content %}{% endblock %}
        </div>

        <!-- Right sidebar -->
        <div class="col-2 d-flex justify-content-center align-items-center position-fixed" style="height:80vh; right: 0;">
            <img src="https://via.placeholder.com/300x600" alt="ad">
        </div>
      </div>
    </div>

  <!-- Modal -->
  <!-- Create Category-->
  <div class="modal fade" id="categoryCreateModal" tabindex="-1" role="dialog" aria-labelledby="categoryCreateModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCategory">카테고리 추가</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="categoryForm">
            <div class="form-group">
              <input type="text" class="form-control" id="category-name" name="name" placeholder="카테고리명">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
          <button type="button" class="btn btn-primary" id="saveCategoryBtn">추가하기</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Update Category-->  
  <div class="modal fade" id="categoryUpdateModal" tabindex="-1" aria-labelledby="categoryUpdateModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">카테고리 수정</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="CategoryUpdateForm" method="post" action="{% url 'category_update' %}">
              {% csrf_token %}
              {% for category in current_user_categories %}
              <div class="mb-3">
                <!-- forloop.counter0: Django 템플릿 태그에서 사용되는 반복문의 카운터변수 -->
                <input type="hidden" name="category_id_{{ forloop.counter0 }}" value="{{ category.id }}">
                <input type="text" class="form-control" id="categoryName" name="category_name_{{ forloop.counter0 }}" value="{{ category.name }}" required>
              </div>
              {% endfor %}
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
            <button type="submit" class="btn btn-primary" form="CategoryUpdateForm">저장</button>
          </div>
        </div>
      </div>
    </div> 
  </body>

  <!-- Bootstrap JS and jQuery -->
  <script src="{% static 'bootstrap-5.3.1-dist/js/bootstrap.bundle.min.js' %}"></script>
  <script>
    // 카테고리 추가
    document.addEventListener('DOMContentLoaded', function(){
      
      document.querySelector("#saveCategoryBtn").addEventListener('click', function(){
        var formElement = document.querySelector("#categoryForm");
        var formData = new FormData(formElement);
        
        for (var pair of formData.entries()) {
          console.log(pair[0] + ', ' + pair[1]); 
        }
    
        fetch("{% url 'category_create' %}", { // Django에서 지정한 URL을 가져옴
          method: 'POST',
          body: formData,
          headers: {
            'X-CSRFToken': '{{ csrf_token }}', // Django의 CSRF 보호를 우회
          },
        })
        .then(response => {
          if (!response.ok) {
            return response.json().then(json => {
              if (json.errors === "Maximum number of categories reached") {
                alert("최대 카테고리 개수를 초과했습니다.");
              } else if (json.errors === "Category name already exists") {
                alert("이미 존재하는 카테고리 이름입니다.");
              } else {
                alert(json.errors || "카테고리를 추가하는 도중 오류가 발생했습니다. 다시 시도해 주세요.");
              }
              throw new Error(`HTTP error! status: ${response.status}`);
            });
          } 
          return response.json();
        })
        .then(json => {
          location.reload();
        })
        .catch((error) => {
          console.log('Error:', error);
        });
      });
    });

    // 카테고리 수정
    document.addEventListener("DOMContentLoaded", function(){
      const categoryUpdateForm = document.querySelector("#CategoryUpdateForm");

      categoryUpdateForm.addEventListener("submit", async function(event){
        event.preventDefault();

        const formData = new FormData(this);

        try {
          const response = await fetch("{% url 'category_update' %}", {
            method: "POST",
            headers: {
              'X-CSRFToken': '{{ csrf_token }}'
            },
            body: formData
          });
          
          if (response.status >= 400 && response.status < 500) {
            const json = await response.json();
            if (json.errors === "Category name already exists") {
              alert("이미 존재하는 카테고리 이름입니다.");
            } else {
              alert(json.errors || "카테고리를 추가하는 도중 오류가 발생했습니다. 다시 시도해 주세요.");
            }
            return;
          } 

          location.reload();

        } catch (error) {
          alert("서버와의 통신에 실패했습니다.");
        }
      });
    });

    // 카테고리 제거
    document.addEventListener('DOMContentLoaded', function() {
      var deleteCategoryBtn = document.querySelector('#deleteCategoryBtn');
      if(!deleteCategoryBtn) {
        return;
      }
    
      var deleteButtonsVisible = false;

      document.querySelector('#deleteCategoryBtn').addEventListener('click', function() {
        deleteButtonsVisible = !deleteButtonsVisible;
        deleteCategoryBtn.textContent = deleteButtonsVisible ? '취소' : '삭제'; // 텍스트 값 변경
        document.querySelectorAll('.delete-category-button').forEach(function(button) {
          button.style.display = deleteButtonsVisible ? 'block' : 'none';
        });
      });
    
      document.querySelectorAll('.delete-category-button').forEach(function(button) {
        button.addEventListener('click', function() {
          var categoryId = this.getAttribute('data-category-id');
          fetch('/category/' + categoryId + '/delete/', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/x-www-form-urlencoded',
              'X-CSRFToken': '{{ csrf_token }}'
            },
          }).then(function() {
            location.reload();
          });
        });
      });
    });

    // Category 모양 변경
    document.addEventListener('DOMContentLoaded', function() {
      const categoryButtons = document.getElementById('categoryButtons'); 
      const categoryCaretIcon = document.getElementById('category-caret-icon');

      categoryButtons.addEventListener('show.bs.collapse', function() {
        categoryCaretIcon.src = "{% static 'bootstrap-icons-1.10.5/caret-up-fill.svg' %}";
      });

      categoryButtons.addEventListener('hide.bs.collapse', function() { 
        categoryCaretIcon.src = "{% static 'bootstrap-icons-1.10.5/caret-down-fill.svg' %}";
      });
    });
    </script>
</html>
