{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1>검색 결과</h1>
    <hr style="border-width: 3px;">
    <div class="row">
        <div class="col-12">
            {% if results %}
                <ul class="list-group">
                    {% for result in results %}
                        <li class="list-group-item list-group-item-action">
                            <a class="text-decoration-none"href="{% url 'data_detail' result.classification.category.id result.classification.id result.id %}">{{ result.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>이름에 해당하는 검색 결과가 없습니다.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}