@font-face {
  font-family: "Kanit";
  src: url("../fonts/IndieFlower-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar-brand {
  font-family: "Kanit", sans-serif;
  text-align: center;
  font-size: 30px; /* 글자 크기 조절 */
}

.sidebar {
  height: 100vh;
  overflow-y: auto;
}
