@font-face {
  font-family: "Kanit"; /* 사용자 지정 이름 */
  src: url("../fonts/IndieFlower-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR", sans-serif; /* 사용자 지정 이름 */
  src: url("../fonts/NotoSansKR-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* 모바일 (Extra small devices, <576px) */
@media screen and (max-width: 575px) {
}

/* 아이패드와 작은 데스크탑 (Medium devices and small desktops, 768px to 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .adsbygoogle {
    display: none !important;
  }
}

/* 일반 데스크탑 (Large devices and desktops, 992px and up) */
@media screen and (min-width: 992px) {
}

body,
h1,
h2,
h3,
p {
  font-family: "Noto Sans KR", sans-serif;
}

.navbar-brand {
  font-family: "Kanit", sans-serif;
  text-align: center;
  font-size: 30px;
}

.sidebar-category :hover {
  background-color: #f8f9fa;
}

#category-settings,
#classification-settings,
#sortDataByName,
#sortDataByFrequency {
  cursor: pointer;
}

.sort-bold {
  font-weight: bold;
}

.sidebar {
  height: 100vh;
  overflow-y: auto;
}

/* Markdown */
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
}

blockquote p {
  margin-bottom: 0;
}

blockquote small {
  color: #333;
  font-size: 85%;
}
