@font-face {
  font-family: "Kanit";
  src: url("../fonts/IndieFlower-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar-brand {
  font-family: "Kanit", sans-serif;
  text-align: center;
  font-size: 30px; /* 글자 크기 조절 */
}

.sidebar {
  height: 100vh;
  overflow-y: auto;
}

/* Markdown */
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
}

blockquote p {
  margin-bottom: 0;
}

blockquote small {
  color: #333;
  font-size: 85%;
}
